/* Basics */
body {
	color: #000;
	background: none #F5DEB3;
	font-family: verdana, sans-serif;
        padding: 0 1em 0.5em 1em;
}
h1, h2, h3, h4, h5, h6 { 
    margin-bottom: 0.2em; 
    clear: both;
}
h1						 	{ color: #32611F }
h2, h3, h4, h5, h6 	{ color: #1F3D14; }
p 							{ margin-top: 0px; }

ul 	{ margin-top: 0px; }
code 	{ color: #900; }
q 		{ font-style: italic; }

a:link 		{ color: #33f; }
a:visited 	{ color: #808; }
a:active 	{ color: #f00; }

/* Signature */
.signature {
	font-size: smaller;
	text-align: right;
	clear: both;
}
p.signature a 	{ font-size: smaller ; }
.signature img { float: right; border: none; }

/* Blocks */
blockquote {
	font-style: italic;
	border-style: solid;
	border-width: 1px;
	border-color: #630;
	color: #000;
	background: none #ff9;
	padding: 2px 5px 2px 4px;
}
blockquote em { font-style: normal; }
pre {
	background: none #ffc;
	border-style: solid;
	border-width: 1px;
	white-space: pre;
	color: #900;
	border-color: #000;
	padding: 2px 5px 2px 4px;
}


/* Quack specific */

.xmlvalue {
    color: #066;
}

#zoom-display {
    position: relative;
    margin-right: 340px;
    height: 900px;
    border: 1px solid black;
    overflow: hidden;
}

div.openseadragon-canvas canvas {
    /*
      Since we're doing QA and are likely to look at pixels,
      we try to disable fancy scaling
      Seems not to be working...
      */
    image-rendering:optimizeSpeed;             /* Legal fallback                 */
    image-rendering:optimize-contrast;         /* CSS3 Proposed                  */
    image-rendering:-moz-crisp-edges;          /* Firefox                        */
    image-rendering:-o-crisp-edges;            /* Opera                          */
    image-rendering:-webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    -ms-interpolation-mode:nearest-neighbor;   /* IE8+                           */
}
div.passive {
    pointer-events: none;    
    outline: 10px dashed red;
}

#gridbox {
    position: absolute;
    z-index: 10;
    pointer-events: none;
    width : 100%;
    margin-right: 400px;
    height: 900px;
    overflow: hidden;
}

.control {
    position: absolute;
    width: 250px;
    right: 10px;
    margin-right: 2em;
    padding: 0.5em 1.5em 0.5em 1em;
    border: 3px solid #999;
}

.control p {
    margin-bottom: 0;
    margin-top: 0;
}

.gridline {
    position: absolute;
    pointer-events: none;
    background: #00C;
}

.gridlinex {
    height: 1px;
    width: 100%;
}

.gridliney {
    height: 100%;
    width: 1px;
}

.searchresultbox {
    opacity:    0.8;
    filter:     alpha(opacity=40);
    border:     4px solid #3333DE;
    color:      #3333DE;
    background-color: transparent;
}
.highlight {
    opacity:    0.4;
    filter:     alpha(opacity=40);
    margin: -2px;
    border:     2px solid #BE3333;
    background-color: transparent;
}
.highlight:hover, .highlight:focus {
/*    filter:     alpha(opacity=70);
    opacity:    0.7;*/
    margin: -10px;
    border:  10px solid #000088;
    outline: 2px solid #000000;
}

/* All elements in a selected group */
.group_disabled {
/*    background-color: #9999FF;*/
    margin: -10px;
    border:     10px solid #0000FF;
}
.next {
/*    background-color: #3333FF;
    opacity:    0.8;
    filter:     alpha(opacity=80);*/
    margin: -10px;
    border:  10px solid #000088;
    outline: 2px solid #000000;
}
.illustration {
    opacity:    0.4;
    filter:     alpha(opacity=40);
    border:     2px solid #3333BE;
    background-color: transparent;
}
.illustration.group {
    margin: -3px;
    border: 3px solid #9999FF;
    opacity:    1.0;
    filter:     alpha(opacity=100);
}
.composed {
    opacity:    0.4;
    filter:     alpha(opacity=40);
    outline:     2px solid #CCCC33;
    background-color: transparent;
}

#idbox #idnextbox {
    width: 100%;
    min-height: 1.5em;
}

#ocrbox {
    width: 100%;
    min-height: 20em;
    border: 2px solid #FF3333;
}

.warning {
    background: #F99;
}

.thumblink {
    margin-right: 1em;
}

ul.alternatives {
    font-size: 70%;
    margin-left: 0;
    padding-left: 0;
}
ul.alternatives li {
    display: inline;
    margin-left: 0;
    padding-left: 0;
}
ul.alternatives li + li:before {
    content: " | ";
}
.histogram img {
    border: 1px dotted grey;
}

.whiteoverlay, .blackoverlay {
    background-size: 100% auto;
    pointer-events: none;
}

/* Always shown om image */
.cropoverlay  {
    /*border: 1px solid yellow;*/
}
/* Shown on mouse over on histogram */
.cropoverlayShow  {
    border: 10px solid red;
}

#presentation-display {
    position: relative;
    margin-right: 340px;
    height: 900px;
    border: 1px solid black;
    overflow: hidden;
}

/* Folder view specific styles below */
div.imagelinks {
    clear: both;
}
div.thumb, div.histograms div {
    float: left;
}
div.thumbs a, div.histograms a {
    position: relative;
    display: block;
}
.thumboverlay {
    /* Hidden by default, enable with JavaScript */
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}
.histograms img {
    border: 1px dotted grey;
    margin: 0.1em 0.2em 0.1em 0.2em;
}
.histograms {
    display: none;
}
table.imagelinks {
    border: 1px solid black;
}
table.imagelinks, table.imagelinks tr td, table.imagelinks tr th {
    border-collapse: collapse;
}
table.imagelinks tr td, table.imagelinks tr th {
    padding: 0.2em 0.4em 0.2em 0.4em;
    border: none;
}
table.imagelinks tr th {
    background: #C5AE93;
}
table.imagelinks tbody tr:nth-child(2n+1) td {
  background: #FFEEC3;
}
table.imagelinks th
{
    text-align:left;
}

table.imagelinks td + td,
table.imagelinks th + th
{
    text-align:right
}


/* Linked articles on image page */

.g1  { background-color: #FF0000; }
.g2  { background-color: #00FF00; }
.g3  { background-color: #0000FF; }
.g4  { background-color: #FFFF00; }
.g5  { background-color: #00FFFF; }
.g6  { background-color: #FF00FF; }

.g7  { background-color: #FFAA00; }
.g8  { background-color: #AAFF00; }
.g9  { background-color: #AA00FF; }
.g10 { background-color: #FFFFAA; }
.g11 { background-color: #AAFFFF; }
.g12 { background-color: #FFAAFF; }

.g13 { background-color: #FF00AA; }
.g14 { background-color: #00FFAA; }
.g15 { background-color: #00AAFF; }

.g16 { background-color: #FF5500; }
.g17 { background-color: #55FF00; }
.g18 { background-color: #5500FF; }
.g19 { background-color: #FFFF55; }
.g20 { background-color: #55FFFF; }
.g21 { background-color: #FF55FF; }

.g22 { background-color: #FF0055; }
.g23 { background-color: #00FF55; }
.g24 { background-color: #0055FF; }

.g25 { background-color: #FFAAAA; }
.g26 { background-color: #AAFFAA; }
.g27 { background-color: #AAAAFF; }

.g25 { background-color: #FF5555; }
.g26 { background-color: #55FF55; }
.g27 { background-color: #5555FF; }

.g28 { background-color: #550000; }
.g29 { background-color: #005500; }
.g30 { background-color: #000055; }
.g31 { background-color: #555500; }
.g32 { background-color: #005555; }
.g33 { background-color: #550055; }

.g34 { background-color: #555500; }
.g35 { background-color: #555500; }
.g36 { background-color: #550055; }
.g37 { background-color: #555555; }
.g38 { background-color: #555555; }
.g39 { background-color: #555555; }
.
.g40 { background-color: #550055; }
.g41 { background-color: #005555; }
.g42 { background-color: #005555; }

.g43 { background-color: #55AA00; }
.g44 { background-color: #AA5500; }
.g45 { background-color: #AA0055; }
.g46 { background-color: #5555AA; }
.g47 { background-color: #AA5555; }
.g48 { background-color: #55AA55; }
.
.g49 { background-color: #5500AA; }
.g50 { background-color: #0055AA; }
.g51 { background-color: #00AA55; }

.g52 { background-color: #555555; }
.g53 { background-color: #555555; }
.g54 { background-color: #555555; }

.g55 { background-color: #55AAAA; }
.g56 { background-color: #AA55AA; }
.g57 { background-color: #AAAA55; }

.g58 { background-color: #AA0000; }
.g59 { background-color: #00AA00; }
.g60 { background-color: #0000AA; }
.g61 { background-color: #AAAA00; }
.g62 { background-color: #00AAAA; }
.g63 { background-color: #AA00AA; }

.g64 { background-color: #AA5500; }
.g65 { background-color: #55AA00; }
.g66 { background-color: #5500AA; }
.g67 { background-color: #AAAA55; }
.g68 { background-color: #55AAAA; }
.g69 { background-color: #AA55AA; }
.
.g70 { background-color: #AA0055; }
.g71 { background-color: #00AA55; }
.g72 { background-color: #0055AA; }

.g73 { background-color: #AAAA00; }
.g74 { background-color: #AAAA00; }
.g75 { background-color: #AA00AA; }
.g76 { background-color: #AAAAAA; }
.g77 { background-color: #AAAAAA; }
.g78 { background-color: #AAAAAA; }
.
.g79 { background-color: #AA00AA; }
.g80 { background-color: #00AAAA; }
.g81 { background-color: #00AAAA; }

.g82 { background-color: #AA5555; }
.g83 { background-color: #55AA55; }
.g84 { background-color: #5555AA; }

.g85 { background-color: #AAAAAA; }
.g86 { background-color: #AAAAAA; }
.g87 { background-color: #AAAAAA; }
